.custom-btn:hover {
    background: inherit;
    color: gray;
}

.custom-logo {
    width: 20rem;
    height: 4rem;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .custom-logo {
        width: 12rem;
        height: 3rem;
    }
}

@media screen and (min-width: 0) and (max-width: 500px) {
    .custom-logo {
        width: 10rem;
        height: 2rem;
    }
}